
.kellshead {
    color: rgb(22, 194, 151);
    font-family: 'Press Start 2P';
    font-weight: 16px;
    font-size: 48px;
    padding-top:2px;
}

.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 4px;
    
}


.navbar {
    background-color: #333333;
    padding: 10px; 
}


.navbar a {
    font-size: 32px;
    color: white; 
    text-decoration: none;
    padding: 10px 15px; 
    margin: 0 5px; 
    border: 2px solid white; 
    border-radius: 5px; 
}


.navbar a:hover {
    background-color: white; /* Change background color on hover */
    color: #333; /* Change text color on hover */
}
