
.kellshead {
    color: rgb(22, 194, 151);
	background: #333;
    font-family: 'Press Start 2P';
    font-weight: 16px;
    font-size: 48px;
    padding:10px;
	margin: 0;
	text-align: center;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
	margin: 0px;
    
}


nav {
    background-color: #333333;
    padding: 10px; 
	text-align: center;
}


nav a {
    font-size: 32px;
    color: white; 
    text-decoration: none;
    padding: 10px 15px; 
    margin: 0 5px; 
    border: 2px solid white; 
    border-radius: 5px; 
}


nav a:hover {
    background-color: white; /* Change background color on hover */
    color: #333; /* Change text color on hover */
}

#main {
	padding:15px 20px;
	margin:0 auto;
	width:984px;
	min-height:400px;
	background:#333;
	border:2px solid #000;
	color: #4AF626;
	font-family: Cascadia Code;
}
